<app-header [userImg]="userProfileImg"/>
<app-banner [bannerTitle]="bannerTitle" [bannerOverview]="bannerOverview" [videoId]="bannerVideoId"></app-banner>
<div class="space-y-0 mt-12">
<app-movie-carrousel (movieSelected)="updateBanner($event)" [title]="'Popular movies'" [peliculas]="popularMovies"></app-movie-carrousel>
<app-movie-carrousel (movieSelected)="updateBanner($event)" [title]="'Top Rated Movies'" [peliculas]="topRatedMovies"></app-movie-carrousel>
<app-movie-carrousel (movieSelected)="updateBanner($event)" [title]="'Upcoming Movies'" [peliculas]="upcomingMovies"></app-movie-carrousel>
<app-movie-carrousel (movieSelected)="updateBanner($event)" [title]="'Now Playing Movies'" [peliculas]="nowPlayingMovies"></app-movie-carrousel>
<app-movie-carrousel (movieSelected)="updateBanner($event)" [title]="'Trending TV shows'" [peliculas]="tvShows"></app-movie-carrousel>
</div>
